@model EduCloud_v42.ViewModels.UserEditViewModel

@{
    ViewData["Title"] = "Edit User";
}

<h1>Edit User</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="ID" />

            <div class="form-input">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>

            <div class="form-input">
                <label asp-for="FullName" class="control-label"></label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>

            <div class="form-input">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" type="email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-input">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" type="tel" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>

            <div class="form-input">
                <label for="NewPassword" class="control-label">New Password</label>
                <input id="NewPassword" name="NewPassword" class="form-control" type="password" placeholder="Залиште це поле пустим щоб не мінювати пароль" />
            </div>

            <div class="form-input">
                <label asp-for="Role" class="control-label"></label>
                <select asp-for="Role" class="form-control" asp-items="Html.GetEnumSelectList<UserRole>()"></select>
                <span asp-validation-for="Role" class="text-danger"></span>
            </div>

            <div class="form-input">
                <input type="submit" value="Зберегти" class="button-standart" />
            </div>
        </form>
    </div>
</div>

<hr />
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}