@model EduCloud_v42.Models.CourseElement

@{
    ViewData["Title"] = "Delete";
}

<h3>Ви впевнені що хочете видалити завдання?(Усі пов'язані файли також будуть видалені)</h3>
<h4>@Model.Name</h4>
<div>
   

    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Видалити" class="btn btn-danger" /> |
        <a asp-controller="Courses" asp-action="Details" asp-route-id="@Model.CourseId">Повернутися до курсів</a>
    </form>
</div>