@model EduCloud_v42.Models.Course

@{
    ViewData["Title"] = "Delete";
}

<h3>Ви впевненні що хочете видалити курс?(Усі пов'язанаі файли також будуть видалені)</h3>
<h4>@Model.Name</h4>
<div>
    

    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Видалити" class="btn btn-danger" /> |
        <a asp-action="Index">Повернутися до списку</a>
    </form>
</div>