body{
    font-size: 24px;
}
header {
    position:fixed;
    display: flex;
    text-align: center;
    align-items: center;
    background-color: #f8fafd;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px;
}

.lable{
    position: absolute;
    left: 10px;
    top:5px;
    font-size: 36px;
}

.Page-bar {
    display: flex;
    list-style: none;
    margin:auto;
    padding:0;
}

.Page-bar li:not(:first-child) {
    margin-left: 15px;
}

a {
    text-decoration: none;
    color: black;
}

main{
    display:flex;
    flex-direction:column;
    margin-top: 65px;
    justify-content:center;
    align-items:center;
}